HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# OS 관련 (윈도우 및 맥북 숨김 파일)
Thumbs.db
.DS_Store

# 환경 변수 및 보안 (DB 비밀번호 등)
.env
.env.local

# 로그 파일
*.log

# 윈도우 인텔리제이 임시 파일
*.swp
*.bak